name: Java CICD with Gradle

on:
  push:
    branches: [ main ]
    
env:
  DATREE_TOKEN: ${{ secrets.DATREE_TOKEN }} 
  KUBECONFIG: /home/alerts_deekshith/kubeconfig/config_now 
  
jobs:
  build:

    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
        cache: gradle
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build
    - name: SonarQube Scan
      uses: sonarsource/sonarqube-scan-action@master
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
    - name: SonarQube Quality Gate check
      uses: sonarsource/sonarqube-quality-gate-action@master
      # Force to fail step after specific time
      timeout-minutes: 5
      env:
       SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    - name: Install Datree
      run: curl https://get.datree.io | /bin/bash
        
    - name: Run Datree's policy check
      run: datree test kube.yaml
      
    - name: Login to Nexus registy
      uses: docker/login-action@v1
      with:
        registry: 34.125.31.157:8083
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
        
    - name: docker build & docker push
      run: |
        docker build -t 34.125.31.157:8083/javaapp:${{ github.run_number }} .
        docker push 34.125.31.157:8083/javaapp:${{ github.run_number }}
        docker rmi 34.125.31.157:8083/javaapp:${{ github.run_number }}
      
    - name: deploying manifest file on k8s cluster 
      run: | 
        sed -i "s;imagename;34.125.31.157:8083/javaapp:${{ github.run_number }};g" kube.yaml
        kubectl apply -f kube.yaml
        sleep 30
        kubectl get po 
